<h1>Les catégories</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="ID">#</th>
      <th scope="Nom">Nom</th>
      <th scope="Actions">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.name %></td>
      <td>
        <a href="<%= edit_category_path(category.id) %>" class="btn btn-primary">Editer</a>
        <a <%= link_to "Supprimer", category_path(category.id), data: {turbo_method: :delete, turbo_confirm: 'Êtes-vous sûrs?'}, class: "btn btn-danger" %></a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <a href="<%= new_category_path %>" class="btn btn-success">Créer une nouvelle catégorie</a>
</p>
